@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    max-width: 100vw;
    text-decoration: none;
    list-style: none;
}
.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 3% 3%;
    font-size: 180%;
}


.head-container {
    height: 100vh;
    width: 100%;
    display: flex;


    /* background-repeat: no-repeat; */
}

.head-l {
    width: 50%;
    background-color: white;
}
.fade-in {
    animation: fadeIn 2s ease-in-out ;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.text {
    display: flex;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30%;
}

.quote h2 {
    color: black;
    font-size: 300%;

}

.quote h2 span {
    color: rgb(224 45 45);
    /* color: rgb(89, 247, 94); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    font-weight: bold;
}

.quote>span {
    color: black;
    font-size: 300%;
    /* padding: 1%  */
}

.quote p {
    font-size: 105%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: left;
    max-width: 80%;
    margin: 3% 0%;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 46%;
    position: absolute;
    top: 138%;
    font-size: 300%;
}

.quote .btn .b {
    /* background: linear-gradient(0deg, rgb(255 249 31), rgb(245 255 58)); */
    /* background: linear-gradient(45deg, #e8ffe9, #67ff00); */
    background: linear-gradient(45deg, #e51c0e, #3b0e0e);
    padding: 4% 2%;
    box-shadow: 4px 4px 2px 2px #4b4343;
    border-radius: 10%;
    border: none;
    font-size: 40%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.quote .btn .b:active{
transform: translate(2%, 2%);
 }
 .quote .btn .b:hover{
    background: linear-gradient(45deg,  #3b0e0e,#e51c0e);
     }

 
.head-r {

    width: 50%;
    background-color: rgb(13, 13, 6);
    border-radius: 134rem 100rem 99rem 475rem;
    background: linear-gradient(45deg, #8c0606, #e13e59);
    /* background: linear-gradient(45deg, #e8ffe9,   #67ff00); */

}

.head-r img {
    position: relative;
    top: 8rem;
    width: 70%;
    right: 8rem;
    filter: drop-shadow(2px 4px 63px black);
}

.slogen {
    color: aliceblue;
    flex-direction: column;
    display: flex;
    position: relative;
    left: 25rem;
    font-size: 290%;
    width: 39%;
    bottom: 47%;
    /* animation: slogen 3s ease-in-out ; */
}
.slogen>span{
    position: relative;
}
.slogen>span:nth-child(1){
    /* animation-delay: 1s; */
    animation: slogen 3s ease-in-out ;
}
.slogen>span:nth-child(2){
    /* animation-delay: 3s; */
    animation: slogen 3s ease-in-out 3s;
}
.slogen>span:nth-child(3){
    /* animation-delay: 6s; */
    animation: slogen 3s ease-in-out 6s ;
}
@keyframes slogen {
    0% {
        opacity: 0;
    right: 0;
    }
    100% {
        opacity: 1;
right : 60px;
    }
}
.slogen :nth-child(2n) {
    color: rgb(15, 6, 6);
}

.slogen :nth-child(3n) {
    display: flex;
    width: 104%;
}


/*--------------- card container--------------- */

.sec-1 {
    width: 100%;
    /* height: 145vh; */
}

.see-m {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.see-more {
    margin-right: 5%;
    font-size: 130%;
    text-decoration: none;
    color: #811414;

}

.container-1{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}
.card-cat{
    margin-top: 66px;
    padding-left: 3%;
}
.card-cat>h1{
    color: #9c1f2c;
    text-decoration: underline;

}
.card-row{ 
    margin-top: 15px;
display: flex;
max-width: 100vw;
width: 100%;
flex-wrap: wrap;
gap: 40px 4%;

}
.searchBox{
margin: 0 3%;
position: relative;
}
.search{
    width: 15rem;
    height: 42px;
    border: 2px solid black;
    padding: 0px 24px 0px 37px;
    border-radius: 50px;


}
.searchBox i{
    position: absolute;
    transform: translate(-227px ,11px);
    font-size:1.2rem ;
}

/* ----------------------section-2------------- */
.section-4 {
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 55px;
    /* background-image:linear-gradient(0deg, rgb(252, 59, 59), rgb(252, 246, 246)) ; */


}

.section-4>.heading {
    margin: 0 auto;
    width: 16%;
}

.fourth {
    /* height: 57%;
    top: 26%;
     justify-content: space-around;
      position: absolute; */
    display: flex;
    align-items: center;
}

.fourth-box {
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.box2 {
    padding: 5% 3%;
    width: 30%;
    background-color: #f9f9f9;
    box-shadow: 11px 8px 23px black;
    text-align: center;
    /* background-image: linear-gradient(0deg, rgb(20, 17, 17), rgb(121, 15, 15)); */
    /* box-shadow: 3px 4px 30px rgb(24, 10, 10); */

    border-radius: 5%;
}

.box2 i {
    font-size: 260%;
    color: #811414;
    /* background-image: linear-gradient(0deg, rgb(20, 17, 17), rgb(121, 15, 15)); */

}

.box2 h1 {
    color: transparent;
    background-image: linear-gradient(0deg, black, red);
    -webkit-background-clip: text;
    margin-top: 7%;
}

.box2 p {
    color: rgb(19, 12, 12);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 85%;

    padding: 8% 3%;
}


.sec-4-img {
    width: 35%;
    filter: saturate(1.3);
    position: relative;
    top: -15%;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}



@media(max-width:601px) {


    .head-container {
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .logo {
        margin-right: 34%;
        font-size: 115%;
        display: flex;
        align-items: center;

    }

    .logo>.logo-img {
        width: 145%;
    }

    .menu-btn {
        display: block;
        font-size: 160%;
        border: none;


    }

    .menu-btn.open {
        background-color: #f9f9f9;
        margin-left: 2rem;
    }

    .menu-btn.close {
        background-color: #b7828214;
        margin: 5% 90%;
    }

    nav {

        width: 100%;
    }

    nav ul {
        width: 85%;
        height: 90vh;
        position: fixed;
        top: 6rem;
        left: 0%;
        display: block;
        /* background: #ffffff14; */
        background: #b7828214;
        backdrop-filter: blur(20px);
        align-items: center;
        border-top-right-radius: 8%;
        z-index: 2;
    }

    nav ul li {
        margin: 10% 5%;
    }

    nav ul li Link {
        font-size: 170%;
        display: flex;
        color: black;
        align-items: center;

    }

    i.nav-icon {
        display: block;
        margin-right: 2%;
    }

    .button {
        padding: 4.8% 4%;
        font-size: 120%;
        width: 100%;
        /* background-image: linear-gradient(45deg, #8c0606, #e13e59); */
        background: linear-gradient(45deg, #e51c0e, #3b0e0e);
        color: white;

    }

    .head-r {

        height: 100vh;
        width: 50%;
        border-radius: 0% 0% 0% 50%;


    }

    .head-r img {
        position: relative;
        top: 8rem;
        width: 100%;
        right: 4rem;
    }

    .slogen {
        color: rgb(255, 255, 255);
        position: absolute;
        left: 13rem;
        top: 50%;
        font-size: 230%;


    }

    .quote {
        position: relative;
        top: 20%;


    }

    .quote h2 {
        font-size: 155%;
        padding: 4% 4%;


    }

    .quote h2 span {

        font-size: 160%;
        font-weight: bold;
    }

    .quote span {}

    .quote span:nth-child(2) {
        margin-right: 18%;
        font-size: 150%;
        font-weight: bold;
    }

    .quote p {
        font-size: 105%;
        text-align: left;
        margin-top: 10%;
        max-width: 80%;
    }

    .btn {
        display: flex;
        width: 54%;

        height: 51%;
        flex-direction: column;
    }

    .quote .btn button {
        border-radius: 10%;
        border: none;
        font-size: 30%;
        padding: 15% 7%;


    }
}